<html>
<head>
    <title></title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div>
    <form action="/verify_user" method="POST">
        <label>Email:<input type="email" name="email"></label>
        <br>
        <label>Password:<input type="password" name="password"></label>
        <br>
        <label><input type="submit" name="submit"></label>
    </form>
    <a href="/signup">Don't have an account? Sign Up!</a>
</div>

</body>
</html>