<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<table>
    <tr>
        <td>Movie ID</td>
        <td>Movie Title</td>
        <td>Your rating</td>
    </tr>
{% for movie, rating in movie_list %}
    <tr>
        <td>Id: {{ movie.id }}</td>
        <td><a href = "/rate_me/{{movie.id}}"> Name: {{ movie.name }} </a></td>
        <td>{{rating}}</td>
    </tr>

{% endfor %}
</table>
</body>
</html>