<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title></title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="/user_list" method="GET">
        <label>View User List: <button type="submit" name="user_list" value="user_list">Click Me!</button></label>
    </form>
    <form action="/search_list" method="GET">
        <label>Search Movie Database: <br>
            <input type="text" name="search_box" value="Insert Movie Title Here!"></label>
        <label><input type="submit" name="submit"></label>
    </form>

{{ session }}
</body>
</html>