<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title></title>
</head>
<body>
    <div>
    <form action="/confirmation" >
        <label>Email:<input type="email" name="email"></label>
        <br>
        <label>Password:<input type="password" name="password"></label>
        <br>
        <label>Age:<input type="text" name="age">(optional)</label>
        <br>
        <label>Zipcode:<input type="text" name="zipcode">(optional)</label>
        <br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>